.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        font-size: 34px;
        width: 85%;
        border-bottom: solid #C4C4C4;
        text-align: center;
    }

    form {
        width: 45%;
        text-align: center;
        
        .user {
            display: flex;
            text-align: left;
        

            .userOne {
                display: flex;
                flex-direction: column;
            }
            
            .userTwo {
                display: flex;
                flex-direction: column;
                margin-left: auto;
            }

            .symbolCollection {
                
            }
        }
    }
}