<div class="dashboard">
    <form (ngSubmit)="onPlay(dashboardForm)" #dashboardForm="ngForm">
        <div class="user">
            <div class="userOne">
                <label class="title">Spieler 1</label>
                <label>Name</label>
                <input type="text" name="userOne" ngModel>
                <label class="symbol">Symbol</label>
                <select name="symbolOne" ngModel>
                    <ng-container *ngFor="let image of images">
                        <option>{{image.name}}</option>
                    </ng-container>
                </select>
            </div>

            <div class="userTwo">
                <label class="title">Spieler 2</label>
                <label>Name</label>
                <input type="text"  name="userTwo" ngModel>
                <label class="symbol">Symbol</label>
                <select name="symbolTwo" ngModel>
                    <ng-container *ngFor="let image of images">
                        <option>{{image.name}}</option>
                    </ng-container>
                </select>
            </div>
        </div>

        <input type="submit" value="Spiel starten">
    </form>
</div>
