.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;

    form {
        margin-top: 8%;
        width: 60%;
        text-align: center;
        
        .user {
            margin-bottom: 12%;
            display: flex;
            text-align: left;

            .title {
                margin-bottom: 15%;
            }

            .symbol {
                margin-top: 10%;
            }

            .userOne {
                display: flex;
                flex-direction: column;
            }
            
            .userTwo {
                display: flex;
                flex-direction: column;
                margin-left: auto;
            }

            select {
                width: 60%;
            }
        }

        input[type='submit'] {
            width: 40%;
        }
    }
}