<div class="tictactoe-board">
    <div *ngFor="let squareContainer of squares; index as r" class="square-container">
        <div *ngFor="let squareClass of squareContainer; index as c">

            <div class="square" (click)="onChangePlayerTurn(squareClass)">
                <ng-container [ngSwitch]='squareClass.state'>
                    <img *ngSwitchCase="stateRef.USERONE" src="{{'assets/symbols/' + symbolOne + '.png'}}">
                    <img *ngSwitchCase="stateRef.USERTWO" src="{{'assets/symbols/' + symbolTwo + '.png'}}">
                </ng-container>
            </div>

            <!-- <app-tictactoe-board-square (onChangePlayerTurn)="onChangePlayerTurn($event)" [square]="{state: column, row: r, column: c}"></app-tictactoe-board-square> -->
        </div>
    </div>
</div>